<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper.TesseractFiredTriggerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="admin.entity.TesseractFiredTrigger">
        <id column="id" property="id" />
        <result column="triggerId" property="triggerId" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, triggerId, name, create_time
    </sql>

</mapper>
