<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper.TesseractMenuResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="admin.entity.TesseractMenuResource">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="component" property="component" />
        <result column="path" property="path" />
        <result column="url_pattern" property="urlPattern" />
        <result column="iconCls" property="iconCls" />
        <result column="parent_id" property="parentId" />
        <result column="desc" property="desc" />
        <result column="order" property="order" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="is_del" property="isDel" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, component, path, url_pattern, iconCls, parent_id, desc, order, create_user_id, create_user_name, update_user_id, update_user_name, is_del, status
    </sql>

</mapper>
