<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper.TesseractRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="admin.entity.TesseractRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_desc" property="roleDesc" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="is_del" property="isDel" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_desc, create_user_id, create_user_name, update_user_id, update_user_name, is_del, status
    </sql>


    <select id="selectRolesByUserId" resultMap="BaseResultMap" parameterType="int">
        SELECT
            r.*
        FROM
            tesseract_role AS r
            LEFT JOIN tesseract_user_role AS ur ON r.id = ur.role_id
        WHERE
            ur.user_id = #{userId}
    </select>


</mapper>
